{% extends "base.html" %}

{% block title %}Summoner{% endblock title %}

{% block content %}
    {% load staticfiles %}
    Get info on a summoner...<br>


    Region: <input type="text" id="query-region" name="region" />
    Name: <input type="text" id="query-name" name="name" />
    <button id="do-task" type="button">query</button>

    <p>Status: <span id="status"></span></p>

    <div id="summoner-info">
        <h3>Summoner Info</h3>
        ID: <span id="id"></span><br>
        Name: <span id="name"></span><br>
        Level: <span id="level"></span><br>
        Region: <span id="region"></span><br>
        Last Updated: <span id="last-updated"></span><br>
    </div>

    <script src="{% static "js/jquery-2.1.1.js" %}"></script>
    <script type="text/javascript">
        var sumData = 0;

        function showInfo() {
            $.ajax({
                // TODO: Get Django url tag to work with this, instead of constructing by hand.
                url: "/api/summoners/" + $("#query-region").val() + "/" + $("#query-name").val() + "/",
                type: "GET",
                success: function(data) {
                    sumData = data;
                    console.log(sumData);

                    $("#id").text(sumData.summoner_id);
                    $("#name").text(sumData.name);
                    $("#level").text(sumData.summoner_level);
                    $("#region").text(sumData.region);
                    $("#last-updated").text(sumData.last_update);
                    $("#summoner-info").show();
                }
            })
        }

        $("div#summoner-info").hide();
        var task_id = 'test';

        $('#do-task').click( function() {
            $.ajax({
                url: "{% url 'ajax_query_start' %}",
                type: "POST",
                data: { region: $("#query-region").val(),
                        name: $("#query-name").val() },
                success: function(data) {
                    task_id = data;
                    console.log(task_id);

                    // clear before using, in case of browser weirdness
                    if (timerID) {
                        clearInterval(timerID);
                    }

                    var timerID = setInterval( function() {
                        $.ajax({
                            url: "{% url 'task_state' %}",
                            type: "POST",
                            data: { task_id: task_id },
                            success: function(data){
                                $("#status").html(data);

                                // the task completed
                                if (data == "SUCCESS") {
                                    clearInterval(timerID);
                                    showInfo();
                                }
                                else if (data == "FAILURE") {
                                    clearInterval(timerID);
                                }
                            }
                        })
                    }, 100);
                }
            })
        });
    </script>

{% endblock content %}
