{% extends "base.html" %}

{% block title %}Summoner{% endblock title %}

{% block content %}
    {% load staticfiles %}
    Get info on a summoner...<br>


    Region: <input type="text" id="region" name="region" />
    Name: <input type="text" id="name" name="name" />
    <button id="do-task" type="button">query</button>

    <div id="current-task">
        <h4>Task ID: {{ task_id }}</h4>
    </div>
    <div id="status"></div>

    <div id="summoner-info">
        <h3>Summoner Info</h3>
        ID: <span id="id"></span><br>
        Name: <span id="name"></span><br>
        Level: <span id="level"></span><br>
        Region: <span id="region"></span><br>
        Last Updated: <span id="last-updated"></span><br>
    </div>

    <script src="{% static "js/jquery-2.1.1.js" %}"></script>
    <script type="text/javascript">
        $("div#summoner-info").hide();
        var task_id = 'test';

        $('#do-task').click( function() {
            $.ajax({
                url: "../ajax_query_start/",
                type: "POST",
                data: { region: $("#region").val(),
                        name: $("#name").val() },
                success: function(data) {
                    task_id = data;
                    console.log(task_id);

                    setInterval( function() {
                        $.ajax({
                            url: "../../api/task_state/",
                            type: "POST",
                            data: { task_id: task_id },
                            success: function(data){
                                $("#status").html(data);
                            }
                        })
                    }, 100);
                }
            })
        });
    </script>

{% endblock content %}
